# Normalization

In [0]:
# IMPORTAMOS AS LIBS
import pandas as pd

In [0]:
df = pd.read_csv("https://gist.githubusercontent.com/Bart6114/8675941/raw/ac4cddcc0909c15ceada2d8c6a303206b10796d9/creditset.csv")
df

      clientid        income        age         loan       LTI  default10yr
0            1  66155.925095  59.017015  8106.532131  0.122537            0
1            2  34415.153966  48.117153  6564.745018  0.190752            0
2            3  57317.170063  63.108049  8020.953296  0.139940            0
3            4  42709.534201  45.751972  6103.642260  0.142911            0
4            5  66952.688845  18.584336  8770.099235  0.130989            1
...        ...           ...        ...          ...       ...          ...
1995      1996  59221.044874  48.518179  1926.729397  0.032535            0
1996      1997  69516.127573  23.162104  3503.176156  0.050394            0
1997      1998  44311.449262  28.017167  5522.786693  0.124636            1
1998      1999  43756.056605  63.971796  1622.722598  0.037086            0
1999      2000  69436.579552  56.152617  7378.833599  0.106267            0

[2000 rows x 6 columns]

In [0]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 
df_ok = scaler.fit_transform(df)
df_ok[0]

array([0.        , 0.9231759 , 0.89209175, 0.58883739, 0.61277973,
       0.        ])

# Standardization

In [0]:
df = pd.read_csv("https://gist.githubusercontent.com/Bart6114/8675941/raw/ac4cddcc0909c15ceada2d8c6a303206b10796d9/creditset.csv")
df

      clientid        income        age         loan       LTI  default10yr
0            1  66155.925095  59.017015  8106.532131  0.122537            0
1            2  34415.153966  48.117153  6564.745018  0.190752            0
2            3  57317.170063  63.108049  8020.953296  0.139940            0
3            4  42709.534201  45.751972  6103.642260  0.142911            0
4            5  66952.688845  18.584336  8770.099235  0.130989            1
...        ...           ...        ...          ...       ...          ...
1995      1996  59221.044874  48.518179  1926.729397  0.032535            0
1996      1997  69516.127573  23.162104  3503.176156  0.050394            0
1997      1998  44311.449262  28.017167  5522.786693  0.124636            1
1998      1999  43756.056605  63.971796  1622.722598  0.037086            0
1999      2000  69436.579552  56.152617  7378.833599  0.106267            0

[2000 rows x 6 columns]

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
df_ok = scaler.fit_transform(df)
df_ok[0]

array([-1.731185  ,  1.45393393,  1.36433286,  1.20281942,  0.41894954,
       -0.40598321])